<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="StopParent" value="work" />   <!--Parent OF LocalFilePath-->
    <add key="LocalFilePath" value="E:\work\LocalDrive" />
    <add key="WayOneAdd" value="enable" />
    <add key="WayOneEdit" value="enable" />
    <add key="WayOneDelete" value="disable" />
    <add key="WayTwoAdd" value="enable" />
    <add key="WayTwoEdit" value="enable" />
    <add key="WayTwoDelete" value="disable" />
    <add key="DriveFolderName" value="LocalDrive" />
    <add key="PathBeforeLocalFolder" value="D:\LiveRepReportsWithSSIS\SBS" />
  </appSettings>
</configuration>