<?xml version="1.0" encoding="utf-8" ?>

<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="StopParent" value="work" />   <!--Parent OF LocalFilePath-->
    <add key="LocalFilePath" value="E:\work\LocalDrive" />
    <add key="WayOneAdd" value="enable" />
    <add key="WayOneEdit" value="enable" />
    <add key="WayOneDelete" value="disable" />
    <add key="WayTwoAdd" value="enable" />
    <add key="WayTwoEdit" value="enable" />
    <add key="WayTwoDelete" value="disable" />
    <add key="DriveFolderName" value="LocalDrive" />
    <add key="PathBeforeLocalFolder" value="D:\LiveRepReportsWithSSIS\SBS" />
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
      <target name="logfile" xsi:type="File" fileName="file.txt" />
      <target name="logconsole" xsi:type="Console" />
    </targets>

    <rules>
      <logger name="*" minlevel="Info" writeTo="logconsole" />
      <logger name="*" minlevel="Debug" writeTo="logfile" />
    </rules>
  </nlog>
</configuration>